<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Willian Pereira da Silva">
    <meta name="description" content="Sound board com os melhores áudios do programa do Rodrigo Faro.">
    <meta name="keywords" content="sound board, rodrigo faro, dança gatinho">
    <meta name="theme-color" content="#000000">
    <title>Sound Board - Rodrigo Faro</title>
    <link rel="canonical" href="https://rodrigofarosoundboard.herokuapp.com/">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>