<section class="bgImg">
    <img src="img/rodrigofarobg.png" alt="Imagem do Rodrigo Faro">
</section>
<section class="btnContainer">
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
    <div>
        <img src="img/btnnormal.png" alt="Botão para interação com o áudio" class="btnAudio">
        <p class="title">Legenda</p>
    </div>
</section>
<audio autoplay="autoplay" >
    <source type="audio/mp3">
</audio>