@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colorBg: #6E7D98;
    --colorAux: #405673;
    --colorFont: #0D0D0D;
    --colorWhite: #FAFAFE;
    --fontDefault: 'Poppins', Verdana, Arial;
}

* {
    margin: 0;
    padding: 0;
    color: var(--colorFont);
    font-family: var(--fontDefault);
}

body {
    background-color: var(--colorBg);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorAux);
    border-bottom: 1px solid var(--colorWhite);
    margin-bottom: 1rem;
}

.header .navbar h1 {
    color: var(--colorWhite);
    font-size: 1.25rem;
}

.bgImg {
    width: 100%;
    text-align: center;
}

.bgImg img {
    max-height: 20rem;
    max-width: 15rem;
}

.btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.btnAudio {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.btnContainer > div {
    height: 7rem;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid var(--colorAux);
    border-radius: 10%;
}

.btnContainer p {
    font-size: .75rem;
    font-weight: 500;
    color: var(--colorWhite);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorAux);
    border-top: 1px solid var(--colorWhite);
}

.footer p,
.footer strong {
    color: var(--colorWhite);
}

.footer a {
    text-decoration: none;
}